.cvbuilder-referee,
.cvbuilder-skills,
.cvbuilder-schoolcollege,
.cvbuilder-experience {
	background-color: #eee;
	margin: 5px 0px 10px 30px;
	padding: 3px;
	border-collapse: separate;
	border: 1px solid #999;
}

#main h2.cveditor {
	margin-top: 40px;
}

#main .cvbuilder-address h2.cveditor {
	margin-top: 15px;
}
