body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin-left: 36pt;
}

h2.cvbuilder {
	font-size: 13pt;
	margin-top: 18pt;
	margin-left: -20pt;
	border-bottom: 2px #f00 solid;
}

p {
	margin: 0;
	padding: 0;
}

h1.cvbuilder {
	margin-left: -18pt;
	text-align: center;
	font-size: 16pt;
}
.cvbuilder-address {
	margin-left: -36pt;
	text-align: center;
}
